# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
*.env

# IDE & Editores
.vscode/
.idea/
*.swp
*.swo

# Arquivos de sistema operacional
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Backups e temporários
*.bak
*.tmp
*~
